In [5]:
import pandas as pd
import numpy as np

In [9]:

d = pd.read_csv("gun-violence-database/mass_shootings_all.csv")
g=d[['State','# Killed', '# Injured']].groupby(['State']).agg(['sum','count'])

In [10]:
# Reference: 
#  http://www.census.gov/popest/data/state/totals/2015/tables/NST-EST2015-01.csv
population = {"Alabama":4858979,
"Alaska":738432,
"Arizona":6828065,
"Arkansas":2978204,
"California":39144818,
"Colorado":5456574,
"Connecticut":3590886,
"Delaware":945934,
"District of Columbia":672228,
"Florida":20271272,
"Georgia":10214860,
"Hawaii":1431603,
"Idaho":1654930,
"Illinois":12859995,
"Indiana":6619680,
"Iowa":3123899,
"Kansas":2911641,
"Kentucky":4425092,
"Louisiana":4670724,
"Maine":1329328,
"Maryland":6006401,
"Massachusetts":6794422,
"Michigan":9922576,
"Minnesota":5489594,
"Mississippi":2992333,
"Missouri":6083672,
"Montana":1032949,
"Nebraska":1896190,
"Nevada":2890845,
"New Hampshire":1330608,
"New Jersey":8958013,
"New Mexico":2085109,
"New York":19795791,
"North Carolina":10042802,
"North Dakota":756927,
"Ohio":11613423,
"Oklahoma":3911338,
"Oregon":4028977,
"Pennsylvania":12802503,
"Rhode Island":1056298,
"South Carolina":4896146,
"South Dakota":858469,
"Tennessee":6600299,
"Texas":27469114,
"Utah":2995919,
"Vermont":626042,
"Virginia":8382993,
"Washington":7170351,
"West Virginia":1844128,
"Wisconsin":5771337,
"Wyoming":586107,}

In [11]:
g.head()

           # Killed       # Injured
                sum count       sum count
State
Alabama          18    15        51    15
Arizona          14     6        23     6
Arkansas          3     4        23     4
California       59    52       228    52
Colorado         10     8        30     8

In [12]:
g.columns = ["k_sum","k_count","i_sum","i_count"]
g['Population'] = g.index  # Use State for getting population of State
g['Population']=g['Population'].apply(lambda x: population[x])

In [13]:


g['pp']=g['k_count']/g['Population']

In [14]:
# Mass shootings by state order by highest counts per population
g.sort_values(by='pp',ascending=False,inplace=True)
g

                      k_sum  k_count  i_sum  i_count  Population            pp
State
District of Columbia      2        6     28        6      672228  8.925543e-06
Louisiana                20       22    103       22     4670724  4.710191e-06
Illinois                 33       54    211       54    12859995  4.199069e-06
Alabama                  18       15     51       15     4858979  3.087068e-06
Tennessee                 9       17     73       17     6600299  2.575641e-06
South Carolina           10       12     40       12     4896146  2.450907e-06
Mississippi               9        7     24        7     2992333  2.339312e-06
Maryland                 12       14     61       14     6006401  2.330847e-06
Missouri                 13       14     48       14     6083672  2.301242e-06
Georgia                  28       23     84       23    10214860  2.251622e-06
Delaware                  1        2      8        2      945934  2.114312e-06
Florida                  92       42    228       42    20271272  2.071898e-06
Indiana                  13       13     43       13     6619680  1.963841e-06
New Mexico               10        4      7        4     2085109  1.918365e-06
Minnesota                 7       10     42       10     5489594  1.821628e-06
Kansas                   10        5     26        5     2911641  1.717245e-06
Vermont                   4        1      0        1      626042  1.597337e-06
Pennsylvania             20       19     66       19    12802503  1.484085e-06
Colorado                 10        8     30        8     5456574  1.466121e-06
Virginia                 14       12     45       12     8382993  1.431470e-06
Michigan                 16       14     54       14     9922576  1.410924e-06
Connecticut               0        5     31        5     3590886  1.392414e-06
Nevada                    7        4     10        4     2890845  1.383678e-06
Arkansas                  3        4     23        4     2978204  1.343091e-06
California               59       52    228       52    39144818  1.328401e-06
Ohio                     22       15     52       15    11613423  1.291609e-06
Texas                    52       35    129       35    27469114  1.274158e-06
Washington               21        9     20        9     7170351  1.255169e-06
North Carolina            6       12     52       12    10042802  1.194886e-06
South Dakota              6        1      0        1      858469  1.164864e-06
New Jersey                3        9     40        9     8958013  1.004687e-06
New York                 10       19     90       19    19795791  9.598000e-07
Arizona                  14        6     23        6     6828065  8.787263e-07
Oregon                   13        3     14        3     4028977  7.446059e-07
West Virginia             1        1      3        1     1844128  5.422617e-07
Nebraska                  2        1      3        1     1896190  5.273733e-07
Oklahoma                  1        2     11        2     3911338  5.113340e-07
Kentucky                  4        2      7        2     4425092  4.519680e-07
Massachusetts             2        3     13        3     6794422  4.415387e-07
Wisconsin                 3        2      5        2     5771337  3.465402e-07
Iowa                      1        1      3        1     3123899  3.201128e-07